
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex" />
    <title>Zapatos del Sur Yucatán | @ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="https://res.cloudinary.com/pat9/raw/upload/v1561388854/ZapateriaYucatan/Admin/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://res.cloudinary.com/pat9/raw/upload/v1561388892/ZapateriaYucatan/Admin/font-awesome.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://res.cloudinary.com/pat9/raw/upload/v1561389021/ZapateriaYucatan/Admin/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/css_admin/AdminLTE.min.css">
   
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="/Admin/" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>ZS</b>YUC</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Zapateria del sur</b>Yucatán</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Menú</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a>

                                <span class="hidden-xs">@((ViewBag.Usuario as ZapateriaMVC.Models.Usuarios).Nombre)</span>
                            </a>
                            
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="https://i.pinimg.com/originals/84/82/4e/84824ec2eb0a4c8ec9a9dc02c2abfed1.jpg" alt="Imagen de perfil" />   
                    </div>
                    <div class="pull-left info">
                        <p>@((ViewBag.Usuario as ZapateriaMVC.Models.Usuarios).Nombre)</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">Menú</li>
                    <li class="active">
                        <a href="/">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Usuarios">
                            <i class="fa fa-users"></i>
                            <span>Usuarios</span>
                        </a>
                        
                    </li>
                    <li>
                        <a href="/Zapatos">
                            <i class="fa fa-th"></i> <span>Zapatos</span>
                           
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/Logout">
                            <i class="fa fa-logout"></i> <span>Salir</span>

                        </a>
                    </li>

         
                </ul>   
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            

            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.4.0
            </div>
            <strong>Copyright &copy; 2019</strong> Todos los derechos reservados
        </footer>

        </div>
    <!-- /.login-box -->
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="https://res.cloudinary.com/pat9/raw/upload/v1561389251/ZapateriaYucatan/Admin/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="https://res.cloudinary.com/pat9/raw/upload/v1561389325/ZapateriaYucatan/Admin/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
  $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.7 -->
    <script src="https://res.cloudinary.com/pat9/raw/upload/v1561389216/ZapateriaYucatan/Admin/bootstrap.min.js"></script>
    <script src="https://res.cloudinary.com/pat9/raw/upload/v1561389129/ZapateriaYucatan/Admin/adminlte.min.js"></script>
    @RenderSection("Scripts",false)
</body>
</html>
